@import "../../../../styles.scss";

.passenger {
    &-status {
    width: 10px;
    height: 10px;
    background: #c0392b;
    display: block;
    margin: 8px 10px 0 0;
    float: left;
    border-radius: 50%;
    &.checked-in {
        background: #2ecc71;
    }
    &-info{
        padding: 8px 0;
    }
}
}

button {
    background: $orange;
    margin: 15px 10px 10px 0;
    padding: 8px 14px;
}

.date {
    padding: 5px;
    font-weight: bold;
}
