@import "../../../../styles.scss";

.passenger {
    &-status {
    width: 10px;
    height: 10px;
    background: #c0392b;
    display: block;
    margin: 8px 10px 0 0;
    float: left;
    border-radius: 50%;
    &.checked-in {
        background: #2ecc71;
    }
    &-info{
        padding: 8px 0;
    }
}
}

.card {
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.39);
    transition: 0.3s;
    padding: 2px 16px;
    margin: 25px 0;
    background-color: #d4d4d4c9;
    border-radius: 7px;
}

button {
    background: $orange;
    margin: 15px 10px 10px 0;
    padding: 8px 14px;
}

.date {
    padding: 5px;
    font-weight: bold;
}
