.container {
    display: flex;
    position: relative;
    top: 8rem;
    flex-direction: column;
    align-items: center;
        a {
            color: #307392;
            font-weight: 600;
            cursor: pointer;
        }
}