@import "../../../../styles.scss";

.form-information {
    padding: 10px 0;
}

input, select {
    border-radius: 3px;
    border: 1px solid $black;
    padding: 5px;
}

button {
    background: $turquoise;
    padding: 8px 14px;
}

small {
    font-size: 14px;
    color: $error;
    font-weight: bold;
    position: relative;
}