<div class="home">
    <img src="assets/image/plane.jpg" alt="image">
    <div class="home-container">
        <span class="home-container-title">AirlineApp</span><br> 
        <div class="home-container-links">
        <button (click)="goPassengers()">See our airline's passengers</button>
        <button (click)="goTotalPassengers()">See our total airline's passengers</button>
    </div>
    </div>
    <!-- <passenger-footer>
        <span>aaaaaffff</span>
    </passenger-footer> -->
    <!-- <passenger-notfound></passenger-notfound>
    <passenger-actions></passenger-actions> -->
</div>