@import "../../../../styles.scss";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-container {
    position: absolute;
    top: 14rem;
    text-align: center;
    &-title {
      font-weight: 700;
      font-size: 24px;
    }
    &-links {
      position: relative;
      top: 1rem;
      a {
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

img {
  width: 100%;
}

button {
  background: $light-turquoise;
  max-width: 190px;
  padding: 1rem;
  border: 1px solid $white;
}
