<div class="app">
  <nav class="nav">
    <!-- <a *ngFor="let item of nav" routerLink="item.link" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: item.exact}">
            {{ item.name }}-->
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a
      routerLink="/passengers"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Edit Passengers</a
    >

    <a
      routerLink="/all-passengers"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >All Passengers</a
    >
  </nav>
  <router-outlet></router-outlet>
</div>

